$drkgrn: darkolivegreen;
$drkgry: darkslategrey;
$ddgblu: dodgerblue;
$drkblu: darkblue;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;

}